@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);


#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
}
#header4-1 H1 {
  color: #000000;
  text-align: center;
}
#header4-1 P {
  color: #ffffff;
}
#header4-1 .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
#msg-box5-2 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-2 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-2 .mbr-article {
  color: #ffffff;
}
#contacts1-7 P {
  text-align: center;
}
#contacts1-7 STRONG {
  color: #ffffff;
}
#contacts1-7 B {
  color: #ffffff;
}
